HTTPS=true
VITE_STAGE=production
VITE_APP_API_URL=https://0.0.0.0:8080
VITE_APP_WS_URL=wss://0.0.0.0:8443

VITE_HTTPS_API_URL=https://0.0.0.0:8080

# Better-Auth
VITE_BETTER_AUTH_SECRET=UqikJTsh4ScQxzNzBGG9PohBGdIcbm2U
BETTER_AUTH_URL=http://192.168.1.10:3000 # Base URL of your app