@import "tailwindcss";

@theme inline {
  /* Colors */
  /* base: #D1E2FF */
  /* --color-hawkes-blue-50: #eff5ff;
--color-hawkes-blue-100: #d1e2ff;
--color-hawkes-blue-200: #bdd7ff;
--color-hawkes-blue-300: #90beff;
--color-hawkes-blue-400: #5c9bfe;
--color-hawkes-blue-500: #3675fb;
--color-hawkes-blue-600: #1f55f1;
--color-hawkes-blue-700: #183fdd;
--color-hawkes-blue-800: #1a35b3;
--color-hawkes-blue-900: #1b328d;
--color-hawkes-blue-950: #152056; */

  --color-blue-50: oklch(96.852% 0.01496 260.813);
  --color-blue-100: oklch(90.919% 0.0439 261.201);
  --color-blue-200: oklch(87.325% 0.06243 258.944);
  --color-blue-300: oklch(79.356% 0.10538 257.09);
  --color-blue-400: oklch(69.3% 0.16026 259.123);
  --color-blue-500: oklch(59.878% 0.21083 262.798);
  --color-blue-600: oklch(52.431% 0.23973 264.428);
  --color-blue-700: oklch(46.675% 0.24028 265.402);
  --color-blue-800: oklch(40.744% 0.19953 266.569);
  --color-blue-900: oklch(36.42% 0.15308 267.094);
  --color-blue-950: oklch(27.138% 0.09858 269.848);

  --color-primary-light: var(--color-blue-900);
  --color-primary-dark: var(--color-blue-100);
}

:root {
  /* for 50 to 300 */
  /* --text-light: oklch(36.42% 0.15308 267.094); */
  /* for 400 to 950 */
  /* --text-dark: oklch(90.919% 0.0439 261.201); */

  /* Gradients
  100 to 200
  100 to 300
  200 to 300
  300 to 500
  400 to 600
  500 to 700
  600 to 800
  700 to 900
  850 to 950 */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  html,
  body {
    @apply text-gray-900 bg-gray-50;

    scroll-behavior: smooth;
    /* disable scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .using-mouse * {
    outline: none !important;
  }
}

@layer utilities {
  .pattern-boxes {
    position: relative;
    overflow: hidden;

    --pattern-color: rgba(255, 255, 255, 0.1);
    --pattern-bg: transparent;
    --pattern-size: 20px;

    background-color: var(--pattern-bg);
    background-image:
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--pattern-color) 1px, transparent 1px);
    background-size: var(--pattern-size) var(--pattern-size);
  }

  .pattern-boxes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.6) 0%,
      rgb(255, 255, 255, 0.82) 60%
    );
    pointer-events: none;
  }

  .pattern-color-primary {
    --pattern-color: oklch(80% 0.105 251.813 / 0.5);
  }

  .pattern-bg-white {
    --pattern-bg: rgba(255, 255, 255, var(--pattern-opacity, 0.2));
  }
  .pattern-bg-black {
    --pattern-bg: rgba(0, 0, 0, var(--pattern-opacity, 0.2));
  }

  .pattern-size-4 {
    --pattern-size: 24px;
  }
  .pattern-size-6 {
    --pattern-size: 32px;
  }
  .pattern-size-8 {
    --pattern-size: 48px;
  }
}
