# Make sure to create a .env file in the server directory with the following content:

# Envinronment variables for the server
SERVER_ENV=development
SERVER_PORT=8000

SERVER_HOST=192.168.1.10

# Client URLs for development (comma-separated)
DEV_TRUSTED_ORIGINS=https://192.168.1.10:3000,https://localhost:3000

# TLS configuration for HTTPS
TLS_KEY_PATH='../certs/localhost-key.pem'
TLS_CERT_PATH='../certs/localhost.pem'

# Prisma
DATABASE_URL=file:./dev.db

# Better-Auth
# AUTH_URL is the base URL of your app/client
BETTER_AUTH_SECRET= 
BETTER_AUTH_URL=https://192.168.1.10:3000

# GMAIL SMTP
SMTP_USER=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_PASSWORD=

# PYTHON SLP SERVICE
# Set this to the URL where your Python SLP service is running. Ex. run command:
# uvicorn service:app --host 0.0.0.0 --port 8000 --reload
SLP_SERVICE_URL=http://127.0.0.1:8000